[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
numpy = "*"
networkx = "*"
matplotlib = "*"
python-louvain = "*"
ipython = ">=7.3"
prompt-toolkit = "==2.0.10"
jupyter-console = "==6.0.0"
protobuf = "*"
mlflow = "*"
pytest = "*"
seaborn = "*"
pylatexenc = "*"
qiskit = "0.21.2"
boto3 = "*"
pathos = "*"
qiskit-optimization = "0.4.0"
ipywidgets = "*"
qaoa_vrp = {editable = true, path = "."}

[requires]
python_version = "3.9"
