[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
numpy = "*"
networkx = "*"
matplotlib = "*"
python-louvain = "*"
ipython = ">=7.3"
prompt-toolkit = "==2.0.10"
jupyter-console = "==6.0.0"
protobuf = "*"
mlflow = "*"
pytest = "*"
qaoa-vrp = {path = ".", editable = true}
seaborn = "*"
pylatexenc = "*"
qiskit = "*"
boto3 = "*"

[requires]
python_version = "3.9"
